@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Pixel';
        src: url('../../fonts/pixel.ttf') format("ttf"),

    }

    .text-shadow {
        text-shadow: 2px 2px #111111;
    }

    .clipped-button {
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    }

}